pkgbase = python-pypacker
	pkgdesc = The fastest and simplest packet manipulation lib for Python
	pkgver = 5.5
	pkgrel = 1
	url = https://gitlab.com/mike01/pypacker
	arch = x86_64
	license = GPL
	makedepends = python-setuptools
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python
	depends = python-netifaces
	source = https://gitlab.com/mike01/pypacker/-/archive/v5.5/pypacker-v5.5.tar.gz
	sha256sums = b9572bc1c87012cb67b4898e9b3f50a6489e578228f6fc7cca34d65bdc6999ae

pkgname = python-pypacker
